*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body{
	background: url("../images/woodfine0007_m.jpg") repeat left top;
	font-family: 'EB Garamond', serif;
	color: #000;
}

#wrapper{
	background: url("../images/corner.png") no-repeat bottom right, url("../images/linen2.jpg") repeat left top;
	box-shadow: .35em .35em .5em .15em rgb(30, 30, 30), -.05em -.02em .25em .05em rgb(60, 60, 60);
	display: flex;
	max-width: 960px;
	width: 95%;
	margin: 1em auto;
	position: relative;
}

.no-multiplebgs #wrapper {
	background: url("../images/linen2.jpg") repeat left top;
}

#logo{
	width: 17%;
	float: left;
	clear: none;
	padding: .45em;
}

h1{

	font-size: 2em;
	color: rgb(207, 23, 31)
}

h1 a{
	text-decoration: none;
}

h2{
	font: 120%;
}

nav {
	overflow: hidden;
	position: absolute;
	float: left;
	clear: left;
/* 	left: 20px; */
	top: 200px;
	padding: 10px;
}

nav a{
	color:#000;
}

nav ul li{
	background: rgba(125,220,140,0);
	border-radius: 0  0 10px 0;
	box-shadow: -14px -15px 17px -14px rgba(149, 152, 147, 0.5) inset;
	display: flex;
	margin: 5px;
	width: 7em;
	height: 1.1em;
	padding: .75em;
	position: relative;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}

.no-csstransitions nav ul li {
	background: url("../images/button-sprite.png") right top no-repeat;
}

nav ul li:hover{
	box-shadow: -14px -15px 17px -14px rgba(207, 23, 31, 0.5) inset;
	
}

.no-csstransitions nav ul li:hover{
	background: url("../images/button-sprite.png") right bottom no-repeat;
}

.lava{
	position: absolute;
	top: 25%;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* nav ul li:nth-child(1):hover ~ .lava{ top: 10%; }
nav ul li:nth-child(2):hover ~ .lava{ top: 30%; }
nav ul li:nth-child(3):hover ~ .lava{ top: 50%; }
nav ul li:nth-child(4):hover ~ .lava{ top: 70%; }
nav ul li:nth-child(5):hover ~ .lava{ top: 90%; }

.lavan .lava {
	box-shadow: -14px -15px 17px -14px rgba(207, 23, 31, 0.5) inset;
} */

.backed{
	/* background: rgba(0, 0, 0, .75); */
	float: left;
	clear: right;
	width: 70%;
	display: flex;
	margin: 1em 1em 1em 2em;
	padding: .5em .75em;
	background: rgba(255, 255, 255, .75);
}

.lines p{
	font-family: 'BLOKKRegular';
	line-height: 1.1;
}

#error h1{
	font-size: 3.5em;
}

#error p{
	font-size: 1.5em;
}

#error h2{
	font-size: 3em;
}

p{
	margin-bottom: .45em;
}

section{
	position: relative;
	z-index: 10;
}

figure{
	display: block;
}

#reese{
	-webkit-transform: rotate(9deg);
	-moz-transform: rotate(9deg);
	-ms-transform: rotate(9deg);
	-o-transform: rotate(9deg);
	transform: rotate(9deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9876883405951377, M12=-0.15643446504023112, M21=0.15643446504023112, M22=0.9876883405951377, SizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(             M11=0.9876883405951377, M12=-0.15643446504023112, M21=0.15643446504023112, M22=0.9876883405951377, SizingMethod='auto expand');
	position: relative;
	z-index: 0;
	float: right;
	margin-right: 4em;
}

#reese img{
	box-shadow: .15em .15em .5em .15em rgba(30, 30, 30, .5), -.05em -.02em .25em .05em rgba(60, 60, 60, .3);
}

#newsletter{
	display: flex;
	width: 70%;
	float: right;
	clear: both;
	margin: 5em 0 2em;
}

#newsletter label{
	margin-right: .75em;
	font-size: 140%;
}

#newsletter input{
	font-size: 80%;
	height: 2em;
}

#newsletter .submit{
	background: rgb(207, 23, 31);
	border-radius: 0  0 10px 0;
	color: #fff;
	padding: .025em .25em .05em .15em;
	font-size: 105%;
	height: 1.8em;
}

.popup{
	position:fixed;
	top:40%;
	left:50%;
	padding: 10px;
	margin-left: -155px;
	background:white;
	box-shadow: 0 0 10px black;
	text-align: center;
}

#doodle{
	float: left;
	bottom: 3em;
	position: absolute;
	margin: 1em;
	/* width: 20%; */
}

#doodle p{
	text-align: center;
	font-family: "Pacifico", script;
	-moz-animation: doodleFont 10s ease-in infinite;
	-webkit-animation: doodleFont 10s ease-in infinite;
	-o-animation: doodleFont 10s ease-in infinite;
	-ms-animation: doodleFont 10s ease-in infinite;
	animation: doodleFont 10s ease-in infinite;
	
}

@-moz-keyframes doodleFont{
	0%{
		color: rgb(255, 0, 0);
	}
	
	33%{
		color: rgb(0, 255, 0);
	}
	
	66%{
		color: rgb(0, 0, 255);
	}
	
	100%{
		color: rgb(255, 0, 0);
	}
}

@-webkit-keyframes doodleFont{
	0%{
		color: rgb(255, 0, 0);
	}
	
	33%{
		color: rgb(0, 255, 0);
	}
	
	66%{
		color: rgb(0, 0, 255);
	}
	
	100%{
		color: rgb(255, 0, 0);
	}
}

@-o-keyframes doodleFont{
	0%{
		color: rgb(255, 0, 0);
	}
	
	33%{
		color: rgb(0, 255, 0);
	}
	
	66%{
		color: rgb(0, 0, 255);
	}
	
	100%{
		color: rgb(255, 0, 0);
	}
}

@-ms-keyframes doodleFont{
	0%{
		color: rgb(255, 0, 0);
	}
	
	33%{
		color: rgb(0, 255, 0);
	}
	
	66%{
		color: rgb(0, 0, 255);
	}
	
	100%{
		color: rgb(255, 0, 0);
	}
}

@-keyframes doodleFont{
	0%{
		color: rgb(255, 0, 0);
	}
	
	33%{
		color: rgb(0, 255, 0);
	}
	
	66%{
		color: rgb(0, 0, 255);
	}
	
	100%{
		color: rgb(255, 0, 0);
	}
}

.no-cssanimations #doodle p{} /*jQ spectrum*/

#doodle1{
	background: url("../images/lotus-sprite.png") no-repeat left bottom;
	height: 40px;
	width: 50px;
	float: left;
	position: relative;
	bottom: 10px;
	margin: .25em 0 0 3.5em;
	-webkit-animation: lotus 5s steps( 17 ) infinite;
	-moz-animation: lotus 5s steps( 17 ) infinite;
	-o-animation: lotus 5s steps( 17 ) infinite;
	-ms-animation: lotus 5s steps( 17 ) infinite;
	animation: lotus 5s steps( 17 ) infinite;
}

@-moz-keyframes lotus{
	0% {
		background-position: 0 0;
	}

	100%{
		background-position: 0 -680px;
	}
}

@-webkit-keyframes lotus{
	0% {
		background-position: 0 0;
	}

	100%{
		background-position: 0 -680px;
	}
}

@-o-keyframes lotus{
	0% {
		background-position: 0 0;
	}

	100%{
		background-position: 0 -680px;
	}
}

@-ms-keyframes lotus{
	0% {
		background-position: 0 0;
	}

	100%{
		background-position: 0 -680px;
	}
}

@-keyframes lotus{
	0% {
		background-position: 0 0;
	}

	100%{
		background-position: 0 -680px;
	}
}

.red{
	color: rgb(207, 23, 31);
}

.gray{
	color: rgba(149, 152, 147, 1);
}

.note{
	margin-top: 2em;
	font-size: .75em !important;
}


footer{
	/* float: left; */
	clear: both;
	margin: 2em .75em;
	padding: 1em;
	font: 85%;
}

	
	.no-flexbox 
	.no-flexboxlegacy 
	.no-rgba 
	.no-backgroundsize 
	.no-borderimage 
	.no-borderradius 
	.no-boxshadow 
	.no-textshadow 
	.no-opacity 
	.no-csscolumns 
	.no-cssgradients 
	.no-cssreflections 
	.no-csstransforms 

@media (max-width: 830px){
	nav{
		left: 12em;
		top: 1em;
		max-width: 70%;
	}
	
	nav ul li{
		display: -moz-inline-stack;
		display: -webkit-inline-stack;
		display: -ms-inline-stack;
		display: -o-inline-stack;
		display: inline-stack;
		margin: 0 .5em 1em 0;
	}
	
	.backed{
		width: 85%;
		margin: 2%;
	}
}

@media (max-width: 500px){
	nav{
		left: 10em;
		top: 1em;
		max-width: 70%;
	}
	
	nav ul li{
		display: block;
		margin: 0 .5em .25em 0;
		max-width: 7em;
		display: flex;
	}
	
	#newsletter{
		width: 50%;
		margin: 5em .5em 5em 1em;
		float: left;
	}
	
	#newsletter label{
		font-size: 100%;
		margin-right: .5em;
	}
	
	#newsletter .submit{
		font-size: 95%;
	}
	
	footer{
		margin: 5em .75em 1em .75em;
	}

}